<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tag() %>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>LVSolitaire · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
          </ul>
        </nav>
        <div class="playingCards rotateHand">
          <ul class="hand">
            <li>
              <div class="card  rank-9 clubs">
                <span class="rank">9</span>
                <span class="suit">♣</span>
              </div>
            </li>
            <li>
              <div class="card  rank-8 diams">
                <span class="rank">8</span>
                <span class="suit">♦</span>
              </div>
            </li>
            <li>
              <div class="card  rank-7 clubs">
                <span class="rank">7</span>
                <span class="suit">♣</span>
              </div>
            </li>
            <li>
              <div class="card  rank-6 hearts">
                <span class="rank">6</span>
                <span class="suit">♥</span>
              </div>
            </li>
          </ul>
        </div>
        <a href="http://phoenixframework.org/" class="phx-logo">
          <h1><b>Phoenix</b> solitaire</h1>
        </a>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
